.search{
    float: right;
    margin-top: 0;
    padding-top: 0;
    width: 81.75%;
    float: right;
    position: relative;
    background-color: rgb(250, 248, 248);
    line-height: 10vh;
}
.searchinput{
    margin: 2vh;
    margin-left: 3vh;
    padding: 1vh;
    width: 50%;
    border: solid 1px rgb(185, 182, 182);

}