.main{
    font-size: 6vh;
    z-index: 10;
    position: relative;
     margin-left: 38vh;       /* Push it to the right of sidebar */
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center;     /* center vertically if needed */
  min-height: 100vh;
  box-sizing: border-box;
  padding: 2rem;
}