.pageWrapper {
  display: flex;
  flex-direction: column;
  /* Add transition for smooth adjustment */
  transition: margin-left 0.3s ease;
}

.pageWrapper.sidebarCollapsed {
  margin-left: 70px; /* Collapsed sidebar width */
}

.topSection {
  /* Searchbar and Topbody - scrolls normally */
  position: relative;
  z-index: 1;
}

.scrollableLayout {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 100px); /* Adjust 100px to your topSection height */
  overflow: hidden;
}

.leftContent {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
}

.rightStickyCard {
  width: 45%;
  padding: 1rem;
  position: sticky;
  top: 0;
  align-self: flex-start;
  height: fit-content;
  z-index: 2;
  margin-bottom: 20px;
}

.leftContent {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
.leftContent::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
/* Responsive design */
@media (max-width: 768px) {
  .pageWrapper {
    margin-left: 0; /* No margin on mobile */
  }

  .pageWrapper.sidebarCollapsed {
    margin-left: 0; /* No margin on mobile */
  }
}
.container {
  display: flex;
}

.mainContent {
  margin-left: 225px; /* sidebar expanded width */
  transition: margin-left 0.3s ease;
  width: 100%;
  padding: 1rem;
}

.collapsed {
  margin-left: 70px; /* sidebar collapsed width */
}
