
.h1{
    font-size:2rem;
   /* margin-bottom: 10vh;*/
    position: relative;
    /*width: 40%;*/
  /*  display: block;*/
   margin-top: 110vh;
    margin-left: 39vh;
    flex-wrap: wrap;
     text-align: center;
     margin-right: auto;
  font-size: 6vh;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* center horizontally */
  align-items: center;     /* center vertically if needed */
  min-height: 100vh;
  box-sizing: border-box;
  padding: 2rem;

  /*max-width: 1000px;*/
 
}

.cardcontainer {  
  display: flex;
  flex-wrap: wrap;             /* Allow items to wrap on smaller screens */
  flex-direction: row;         /* This makes items go side-by-side */
  gap: 16px;                   /* Spacing between cards */
  justify-content: center;     /* Center all cards horizontally */
  align-items: start;
  padding: 2rem;
}

.usercard {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 5px 5px;
  border: solid 1px black;
  font-size: 1rem;
  width: 300px;/*
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;*/
}

.usercard:hover {
  transform: translateY(-4px);
}

.usercard h1 {
  font-size: 1rem;
  color: #333;
  margin-bottom: 8px;
}

.usercard p {
  margin: 4px 0;
  color: #666;
}
